<div class="show_question" id="<%=question.id%>">
<h3 class="title"><%= question.name %></h3>
<ul>
<% question.possible_values_to_array.each do |choice| %>
  <li><%= choice %></li>
<% end %>
</ul>
<br>
</div>

