$background-color:#F2F0EA;
$link-color:#1A936F;
$main-text-color:#151E00;
$dark-color:#114B5F;
$almost-black:#04181E;
$accent-color:#E17C21;
$almost-black-transparent:rgba(4,24,30,0.7);

$logo-font: 'Chelsea Market', cursive;