<h1>Take a survey!</h1>
<% @surveys.each do |survey| %>

  <% unless survey.author.id == session[:user_id] %>
  <div class="survey"><%= link_to survey.title, survey_path(survey)%> [by <%= survey.author.username %>]</div>
  <% end %>
<% end %>