@import 'base/normalize.css';
@import 'base/globals.scss';
@import 'base/fonts.scss';



body {
  font-family: $main-font;
  font-size:13px
}

#container {
  display:flex;
  justify-content: center;
  width:100%;
  padding:0px;
}

#content {
  width:75%;
  padding:10px;
}

a {
  text-decoration: none;
  color: $link-color;
}