@import 'base/normalize.css';
@import 'base/globals.scss';

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  display:flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

}

#container {
  width:100%;
  padding:0px;
}

#content {
  width:75%;
  padding:10px;
}