@import 'main';

body#welcome {
  background: image-url('home.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // text-align:right;
}


